@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    min-height: 200vh;
}

#header-slide {
    display: flex;
    justify-content: end;
    background-color: #0ca04a;
    padding: 0.5rem 10%;
    color: #ffffff;
}

#header-slide p {
    padding-left: 2rem;
}

#main-header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.search-container {
    display: flex;
    border: #0ca04a 1.8px solid;
    border-radius: 0.3rem;
}

.search-container input {
    outline: none;
    border: none;
    padding: 0 0.5rem;
}

.search-container input:focus {
    border: #333333 2px solid;
    border-radius: 0.3rem;
}

nav {
    /* margin-top: 5rem; */
    background-color: #0ca04a;
}

#nav-header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-right: 10%;
    padding-left: 3%;
}

li, a {
    font-size: 16px;
    padding: 0.3rem 0;
    text-decoration: none;
    color: #ffffff;
}

li, a:hover {
    color: #333333;
    transition: color 0.2s;
}

.container {
    padding: 10px 12%;
}

.body-content-item h2 {
    font-size: 19px;
    margin: 1.5rem 0;
    word-spacing: 5px;
}

.body-content-item p {
    font-size: 16px;
}

.inner-content {
    color: #0ca04a;
}

#content-items {
    margin-top: 2rem;
}

.content-items-row {
    display: flex;
    flex-direction: row;
}

.content-item {
    border: #4d4d4d1c 1px solid;
    border-radius: 0.3rem;
    margin-right: 1.5%;
    margin-bottom: 1rem;
    padding: 0rem 1rem 2rem 1rem;
    width: 50%;
    color: #0ca04a;
}

.content-item:hover {
    border: #0ca04a 1px solid;
    color: #333333;
    transition: all 0.2s;
}

.content-item h2 {
    cursor: pointer;
    font-size: 19px;
    margin-bottom: 1rem;
    /* color: #0ca04a; */
}

.content-item p {
    cursor: pointer;
    font-size: 14px;
    color: #000000;
}